.header-logo {
  flex-shrink: 0;
  position: relative;
  z-index: 200;
  align-items: center;
}

.logo-container {
  display: flex;
  line-height: 0;
  width: fit-content;
  align-items: center;
  justify-content: center;
  gap: 8px;
  padding-top: 8px;
}

.logo-img {
  max-width: 66px;
  height: 66px;
}

.logo-img-name {
  max-width: 280px;
}

@media screen and (max-width: 1200px) {
  .header-logo {
    display: flex;
  }
  .logo-container {
    margin-top: 16px;
  }
  .logo-img {
    max-width: 100px;
    height: auto;
  }
}
